@font-face {
	font-family: Titulo;
	src:url(../fontes/ANODETONOONE.TTF);
}

h1 {
	font-family: Titulo;
	font-size: 40px;
	color: #603A03;
}

body {
	background-image: url(../imgs/fundo.jpg);
}

#container {
	width: 1414px;
	height: auto;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#fundoGame {
	width: 1325px;
	height: 635px;
	background-image: url(../imgs/amigo2nv1.jpg);
	border-color: #FFF;
	border-style: solid;
}

#jogador{
	width: 91px;
	height: 77px;
	position: absolute;
	left: 5px;
	top: 500px;
	background-image: url(../imgs/apache.png);
}

#inimigo1{
	width: 181px;
	height: 159px;
	position: absolute;
	left: 1075px;
	top: 425px;
	background-image: url(../imgs/inimigo1.png)
}

#inimigo2{
	width: 233px;
	height: 185px;
	position: absolute;
	left: 1142px;
	top:415px;
	background-image: url(../imgs/inimigo_2_novo.png)
}

#amigo {
	width: 69.6px;
	height: 58px;
	position: absolute;
	left: -6px;
	top: 520px;
	background-image: url(../imgs/amigo2.png)
}

#inicio {
	width: 350px;
	height: 200px;
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	text-align: center;
	padding: 10px;
}


.anima1 {
	width: 91px;
	height: 77px;
	background-image: url(../imgs/apache.png);
	animation: play .5s steps(14) infinite;
	-webkit-animation: play .5s steps(14) infinite;
	-moz-animation: play .5s steps(14) infinite;
	-o-animation: play .5s steps(14) infinite;
	-ms-animation: play .5s steps(14) infinite;
}

@keyframes play {
	from {background-position: 0px;}
	to {background-position: -1274px;}
}

@-webkit-keyframes play {
	from {background-position: 0px;}
	to {background-position: -1274px;}
}

@-moz-keyframes play {
	from {background-position: 0px;}
	to {background-position: -1274px;}
}

@-ms-keyframes play {
	from {background-position: 0px;}
	to {background-position: -1274px;}
}

@-o-keyframes play {
	from {background-position: 0px;}
	to {background-position: -1274px;}
}

.anima2 {
	width: 181px;
	height: 159px;
	background-image: url(../imgs/inimigo1.png);
	animation: play1 .5s steps(11) infinite;
	-webkit-animation: play1 .5s steps(11) infinite;
	-moz-animation: play1 .5s steps(11) infinite;
	-o-animation: play1 .5s steps(11) infinite;
	-ms-animation: play1 .5s steps(11) infinite;
}

@keyframes play1 {
	from {background-position: 0px;}
	to {background-position: -1992px;}
}

@-webkit-keyframes play1 {
	from {background-position: 0px;}
	to {background-position: -1992px;}
}

@-moz-keyframes play1 {
	from {background-position: 0px;}
	to {background-position: -1992px;}
}

@-ms-keyframes play1 {
	from {background-position: 0px;}
	to {background-position: -1992px;}
}

@-o-keyframes play1 {
	from {background-position: 0px;}
	to {background-position: -1992px;}
}

.anima3 {
	width: 69.6px;
	height: 58px;
	background-image: url(../imgs/amigo2.png);
	animation: play2 .9s steps(16) infinite;
	-webkit-animation: play2 .9s steps(16) infinite;
	-moz-animation: play2 .9s steps(16) infinite;
	-o-animation: play2 .9s steps(16) infinite;
	-ms-animation: play2 .9s steps(16) infinite;
}



@keyframes play2 {
	from {background-position: 0px;}
	to {background-position: -1114px;}
}

@-webkit-keyframes play2 {
	from {background-position: 0px;}
	to {background-position: -1114px;}
}

@-moz-keyframes play2 {
	from {background-position: 0px;}
	to {background-position: -1114px;}
}2471px

@-ms-keyframes play2 {
	from {background-position: 0px;}
	to {background-position: -1114px;}
}

@-o-keyframes play2 {
	from {background-position: 0px;}
	to {background-position: -1114px;}
}

#disparo {
	width: 50px;
	height: 8px;
	position: absolute;
	background-image: url(../imgs/disparo.png);
	
}

#explosao1 {
	width: 15px;
	height: 87px;
	position: absolute;
}

#explosao2 {
	width: 15px;
	height: 87px;
	position: absolute;
}

#explosao3 {
	width: 44px;
	height: 51px;
	position: absolute;
}

.anime4{
	width: 44px;
	height: 51px;
	background-image: url(../imgs/amigo_explosao.png);
	animation: play3  .5s steps(7) infinite;
	-webkit-animation: play3 .5s steps(7) infinite;
	-moz-animation: play3   .5s steps(7) infinite;
	-ms-animation: play3   .5s steps(7) infinite;
	-o-animation: play3  .5s steps(7) infinite;
}

@keyframes play3 {

	from {background-position: 0px; }
	   to {background-position: -308px; }

}

@-webkit-keyframes play3 {

	from {background-position: 0px; }
	   to {background-position: -308px; }



}

@-moz-keyframes play3 {

	from {background-position: 0px; }
	   to {background-position: -308px; }

}

@-ms-keyframes play3 {

	from {background-position: 0px; }
	   to {background-position: -308px; }



}

@-o-keyframes play3 {

	from {background-position: 0px; }
	   to {background-position: -308px; }

}

#placar {
	width: 450px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 597px;


}

h2 {
    font-family: titulo;
    font: 20px;
    color: #FFF	

}

#energia {
	width: 140px;
	height: 38px;
	position: absolute;
	left: 1186px;
	top: 5px;
}

h3{
font-family: Titulo;
font-size: 20px;
color: #603A03;

}

#fim{
	width: 350px;
	height: 200px;
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	text-align: center;
	padding: 10px;
}


.anima5 {
	width: 233px;
	height: 185px;
	background-image: url(../imgs/inimigo_2_novo.png);
	animation: play5 .5s steps(8) infinite;
	-webkit-animation: play5 .5s steps(8) infinite;
	-moz-animation: play5 .5s steps(8) infinite;
	-o-animation: play5 .5s steps(8) infinite;
	-ms-animation: play5 .5s steps(8) infinite;
}

@keyframes play5 {
	from {background-position: 0px;}
	to {background-position: -1867px;}
}

@-webkit-keyframes play5 {
	from {background-position: 0px;}
	to {background-position: -1867px;}
}

@-moz-keyframes play5 {
	from {background-position: 0px;}
	to {background-position: -1867px;}
}

@-ms-keyframes play5 {
	from {background-position: 0px;}
	to {background-position: -1867px;}
}

@-o-keyframes play5 {
	from {background-position: 0px;}
	to {background-position: -1867px;}
}






